## Diversifiable and Non-Diversifiable Risk of a Portfolio

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Import the same dataset we used in the previous lecture – Microsoft and Apple stock, downloaded from IEX. Timeframe – 1st of January 2015 until today. <br />
*Hint: To save time, we have written the code you need!*

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='iex', start='2015-1-1')['close']
    
sec_data

5y
5y

                MSFT      AAPL
date
2015-01-02   42.9486  102.6781
2015-01-05   42.5490   99.7855
2015-01-06   41.9290   99.7949
2015-01-07   42.4618  101.1942
2015-01-08   43.7109  105.0823
2015-01-09   43.3435  105.1950
2015-01-12   42.8016  102.6030
2015-01-13   42.5766  103.5139
2015-01-14   42.2092  103.1195
2015-01-15   41.7729  100.3208
2015-01-16   42.4709   99.5413
2015-01-20   42.6087  102.1052
2015-01-21   42.1770  102.8847
2015-01-22   43.2884  105.5613
2015-01-23   43.3343  106.1060
2015-01-26   43.1782  106.2187
2015-01-27   39.1827  102.4997
2015-01-28   37.8326  108.2943
2015-01-29   38.5857  111.6658
2015-01-30   37.1070  110.0317
2015-02-02   37.9152  111.4123
2015-02-03   38.2091  111.4310
2015-02-04   38.4296  112.2857
2015-02-05   38.9899  113.0871
2015-02-06   38.9531  112.1348
2015-02-09   38.9072  112.8797
2015-02-10   39.1276  115.0483
2015-02-11   38.9256  117.7449
2015-02-12   39.5777  119.2346
2015-02-13   40.2941  119.8192
...              ...       ...
2018-05-04   94.7493  183.1239
2018-05-07   95.8047  184.4488
2018-05-08   95.3965  185.3354
2018-05-09   96.5216  186.6404
2018-05-10   97.4874  189.3101
2018-05-11   97.2783  188.5900
2018-05-14   97.6069  188.1500
2018-05-15   96.9000  186.4400
2018-05-16   97.1500  188.1800
2018-05-17   96.1800  186.9900
2018-05-18   96.3600  186.3100
2018-05-21   97.6000  187.6300
2018-05-22   97.5000  187.1600
2018-05-23   98.6600  188.3600
2018-05-24   98.3100  188.1500
2018-05-25   98.3600  188.5800
2018-05-29   98.0100  187.9000
2018-05-30   98.9500  187.5000
2018-05-31   98.8400  186.8700
2018-06-01  100.7900  190.2400
2018-06-04  101.6700  191.8300
2018-06-05  102.1900  193.3100
2018-06-06  102.4900  193.9800
2018-06-07  100.8800  193.4600
2018-06-08  101.6300  191.7000
2018-06-11  101.0500  191.2300
2018-06-12  101.3100  192.2800
2018-06-13  100.8500  190.7000
2018-06-14  101.4200  190.8000
2018-06-15  100.1300  188.8400

[870 rows x 2 columns]

In [2]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 870 entries, 2015-01-02 to 2018-06-15
Data columns (total 2 columns):
MSFT    870 non-null float64
AAPL    870 non-null float64
dtypes: float64(2)
memory usage: 20.4+ KB

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [3]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
date
2015-01-02       NaN       NaN
2015-01-05 -0.009348 -0.028576
2015-01-06 -0.014679  0.000094
2015-01-07  0.012627  0.013924
2015-01-08  0.028993  0.037702
2015-01-09 -0.008441  0.001072
2015-01-12 -0.012581 -0.024949
2015-01-13 -0.005271  0.008839
2015-01-14 -0.008667 -0.003817
2015-01-15 -0.010390 -0.027515
2015-01-16  0.016571 -0.007800
2015-01-20  0.003239  0.025431
2015-01-21 -0.010183  0.007605
2015-01-22  0.026010  0.025683
2015-01-23  0.001060  0.005147
2015-01-26 -0.003609  0.001062
2015-01-27 -0.097100 -0.035640
2015-01-28 -0.035064  0.054993
2015-01-29  0.019711  0.030658
2015-01-30 -0.039076 -0.014742
2015-02-02  0.021546  0.012469
2015-02-03  0.007722  0.000168
2015-02-04  0.005754  0.007641
2015-02-05  0.014475  0.007112
2015-02-06 -0.000944 -0.008457
2015-02-09 -0.001179  0.006621
2015-02-10  0.005649  0.019029
2015-02-11 -0.005176  0.023168
2015-02-12  0.016614  0.012573
2015-02-13  0.017939  0.004891
...              ...       ...
2018-05-04  0.011521  0.038483
2018-05-07  0.011077  0.007209
2018-05-08 -0.004270  0.004795
2018-05-09  0.011725  0.007017
2018-05-10  0.009956  0.014203
2018-05-11 -0.002147 -0.003811
2018-05-14  0.003372 -0.002336
2018-05-15 -0.007269 -0.009130
2018-05-16  0.002577  0.009289
2018-05-17 -0.010035 -0.006344
2018-05-18  0.001870 -0.003643
2018-05-21  0.012786  0.007060
2018-05-22 -0.001025 -0.002508
2018-05-23  0.011827  0.006391
2018-05-24 -0.003554 -0.001116
2018-05-25  0.000508  0.002283
2018-05-29 -0.003565 -0.003612
2018-05-30  0.009545 -0.002131
2018-05-31 -0.001112 -0.003366
2018-06-01  0.019537  0.017873
2018-06-04  0.008693  0.008323
2018-06-05  0.005102  0.007686
2018-06-06  0.002931  0.003460
2018-06-07 -0.015834 -0.002684
2018-06-08  0.007407 -0.009139
2018-06-11 -0.005723 -0.002455
2018-06-12  0.002570  0.005476
2018-06-13 -0.004551 -0.008251
2018-06-14  0.005636  0.000524
2018-06-15 -0.012801 -0.010326

[870 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [4]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [5]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.04076538153552976

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [6]:
MSFT_var_a = sec_returns[['MSFT']].var() * 250
MSFT_var_a

MSFT    0.053168
dtype: float64

In [7]:
AAPL_var_a = sec_returns[['AAPL']].var() * 250
AAPL_var_a

AAPL    0.053646
dtype: float64

Or:

In [8]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.05316834638063359

In [9]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.053646189941436426

Calculating Diversifiable Risk:

In [10]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.01406174745501226

In [11]:
print (str(round(dr*100, 3)) + ' %')

1.406 %

Calculating Non-Diversifiable Risk:

In [12]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.026703634080517503

Or:

In [13]:
n_dr_2 = (weights[0] ** 2 * MSFT_var_a) + (weights[1] ** 2 * AAPL_var_a)
n_dr_2

0.026703634080517506

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [14]:
weights_2 = np.array([0.2, 0.8])

Portfolio Variance:

In [15]:
pfolio_var_2 = np.dot(weights_2.T, np.dot(sec_returns.cov() * 250, weights_2))
pfolio_var_2

0.0454598137889525

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [16]:
dr_2 = pfolio_var_2 - (weights_2[0] ** 2 * MSFT_var_a) - (weights_2[1] ** 2 * AAPL_var_a)
dr_2

0.00899951837120784

In [17]:
print (str(round(dr*100, 3)) + ' %')

1.406 %

Calculating Non-Diversifiable Risk:

In [18]:
n_dr_2 = pfolio_var_2 - dr_2
n_dr_2

0.03646029541774466

Or:

In [19]:
n_dr_2 = (weights_2[0] ** 2 * MSFT_var_a) + (weights_2[1] ** 2 * AAPL_var_a)
n_dr_2

0.03646029541774466