## Calculating Portfolio Risk

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from Google Finance for the period 1st of January 2015 until today.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='iex', start='2015-1-1')['close']

5y
5y

In [3]:
sec_data.tail()

              MSFT    AAPL
date
2018-06-11  101.05  191.23
2018-06-12  101.31  192.28
2018-06-13  100.85  190.70
2018-06-14  101.42  190.80
2018-06-15  100.13  188.84

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                MSFT      AAPL
date
2015-01-02       NaN       NaN
2015-01-05 -0.009348 -0.028576
2015-01-06 -0.014679  0.000094
2015-01-07  0.012627  0.013924
2015-01-08  0.028993  0.037702
2015-01-09 -0.008441  0.001072
2015-01-12 -0.012581 -0.024949
2015-01-13 -0.005271  0.008839
2015-01-14 -0.008667 -0.003817
2015-01-15 -0.010390 -0.027515
2015-01-16  0.016571 -0.007800
2015-01-20  0.003239  0.025431
2015-01-21 -0.010183  0.007605
2015-01-22  0.026010  0.025683
2015-01-23  0.001060  0.005147
2015-01-26 -0.003609  0.001062
2015-01-27 -0.097100 -0.035640
2015-01-28 -0.035064  0.054993
2015-01-29  0.019711  0.030658
2015-01-30 -0.039076 -0.014742
2015-02-02  0.021546  0.012469
2015-02-03  0.007722  0.000168
2015-02-04  0.005754  0.007641
2015-02-05  0.014475  0.007112
2015-02-06 -0.000944 -0.008457
2015-02-09 -0.001179  0.006621
2015-02-10  0.005649  0.019029
2015-02-11 -0.005176  0.023168
2015-02-12  0.016614  0.012573
2015-02-13  0.017939  0.004891
...              ...       ...
2018-05-04  0.011521  0.038483
2018-05-07  0.011077  0.007209
2018-05-08 -0.004270  0.004795
2018-05-09  0.011725  0.007017
2018-05-10  0.009956  0.014203
2018-05-11 -0.002147 -0.003811
2018-05-14  0.003372 -0.002336
2018-05-15 -0.007269 -0.009130
2018-05-16  0.002577  0.009289
2018-05-17 -0.010035 -0.006344
2018-05-18  0.001870 -0.003643
2018-05-21  0.012786  0.007060
2018-05-22 -0.001025 -0.002508
2018-05-23  0.011827  0.006391
2018-05-24 -0.003554 -0.001116
2018-05-25  0.000508  0.002283
2018-05-29 -0.003565 -0.003612
2018-05-30  0.009545 -0.002131
2018-05-31 -0.001112 -0.003366
2018-06-01  0.019537  0.017873
2018-06-04  0.008693  0.008323
2018-06-05  0.005102  0.007686
2018-06-06  0.002931  0.003460
2018-06-07 -0.015834 -0.002684
2018-06-08  0.007407 -0.009139
2018-06-11 -0.005723 -0.002455
2018-06-12  0.002570  0.005476
2018-06-13 -0.004551 -0.008251
2018-06-14  0.005636  0.000524
2018-06-15 -0.012801 -0.010326

[870 rows x 2 columns]

## MSFT

In [6]:
sec_returns['MSFT'].mean()

0.0009740682276900108

In [7]:
sec_returns['MSFT'].mean() * 250

0.2435170569225027

In [8]:
sec_returns['MSFT'].std()

0.014583325598865793

In [9]:
sec_returns['MSFT'].std() * 250 ** 0.5

0.23058262376127475

## Apple

In [10]:
sec_returns['AAPL'].mean()

0.0007011521794438769

In [11]:
sec_returns['AAPL'].mean() * 250

0.17528804486096922

In [12]:
sec_returns['AAPL'].std()

0.014648711880767731

In [13]:
sec_returns['AAPL'].std() * 250 ** 0.5

0.2316164716539746

***

In [14]:
sec_returns[['MSFT', 'AAPL']].mean() * 250

MSFT    0.243517
AAPL    0.175288
dtype: float64

In [15]:
sec_returns[['MSFT', 'AAPL']].std() * 250 ** 0.5

MSFT    0.230583
AAPL    0.231616
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

In [16]:
cov_matrix = sec_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000213  0.000112
AAPL  0.000112  0.000215

In [17]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

          MSFT      AAPL
MSFT  0.053168  0.028123
AAPL  0.028123  0.053646

***

In [18]:
corr_matrix = sec_returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.526591
AAPL  0.526591  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [19]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [20]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.04076538153552976

Portfolio Volatility:

In [21]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.20190438711313274

In [22]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

20.19 %