## Simpler Returns - Part I

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [2]:
MSFT = pd.read_csv('D:/Python/MSFT_2000_2017.csv', index_col = 'Date')

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [3]:
MSFT.head()

                Open     High      Low     Close  Adj Close    Volume
Date
1999-12-31  58.75000  58.8750  58.1250  58.37500  38.771053  12517600
2000-01-03  58.68750  59.3125  56.0000  58.28125  38.708794  53228400
2000-01-04  56.78125  58.5625  56.1250  56.31250  37.401215  54119000
2000-01-05  55.56250  58.1875  54.6875  56.90625  37.795563  64059600
2000-01-06  56.09375  56.9375  54.1875  55.00000  36.529484  54976600

In [4]:
MSFT.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2017-12-06  81.550003  83.139999  81.430000  82.779999  82.779999  26162100
2017-12-07  82.540001  82.800003  82.000000  82.489998  82.489998  23184500
2017-12-08  83.629997  84.580002  83.330002  84.160004  84.160004  24489100
2017-12-11  84.290001  85.370003  84.120003  85.230003  85.230003  20121700
2017-12-12  85.309998  86.050003  85.080002  85.529999  85.529999   7805031

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [5]:
MSFT['simple_return'] = (MSFT['Adj Close'] / MSFT['Adj Close'].shift(1)) - 1
print (MSFT['simple_return'])

Date
1999-12-31         NaN
2000-01-03   -0.001606
2000-01-04   -0.033780
2000-01-05    0.010544
2000-01-06   -0.033498
2000-01-07    0.013068
2000-01-10    0.007291
2000-01-11   -0.025612
2000-01-12   -0.032572
2000-01-13    0.018901
2000-01-14    0.041159
2000-01-18    0.027283
2000-01-19   -0.072087
2000-01-20   -0.009346
2000-01-21   -0.021226
2000-01-24   -0.024096
2000-01-25    0.015432
2000-01-26   -0.033435
2000-01-27   -0.006289
2000-01-28   -0.005064
2000-01-31   -0.003817
2000-02-01    0.051724
2000-02-02   -0.020643
2000-02-03    0.027898
2000-02-04    0.028348
2000-02-07    0.000587
2000-02-08    0.031066
2000-02-09   -0.054008
2000-02-10    0.019230
2000-02-11   -0.057193
                ...
2017-10-31   -0.008463
2017-11-01    0.000000
2017-11-02    0.010459
2017-11-03    0.001071
2017-11-06    0.003922
2017-11-07   -0.002368
2017-11-08    0.003441
2017-11-09   -0.005558
2017-11-10   -0.002616
2017-11-13    0.000715
2017-11-14    0.001430
2017-11-15   -0.007772
2017-11-16    0.002651
2017-11-17   -0.009615
2017-11-20    0.001578
2017-11-21    0.014419
2017-11-22   -0.007286
2017-11-24    0.001805
2017-11-27    0.007326
2017-11-28    0.012042
2017-11-29   -0.018143
2017-11-30    0.009959
2017-12-01    0.001069
2017-12-04   -0.037740
2017-12-05    0.006290
2017-12-06    0.014585
2017-12-07   -0.003503
2017-12-08    0.020245
2017-12-11    0.012714
2017-12-12    0.003520
Name: simple_return, Length: 4517, dtype: float64