## Calculating the Beta of a Stock

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Load the data for Microsoft and S&P 500 for the period 1st of January 2012 â€“ 31st of December 2016.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

data = pd.read_csv('D:\Python\CAPM_Exercise_Data.csv', index_col = 'Date')
data

                 MSFT        ^GSPC
Date
2012-01-03  23.031868  1277.060059
2012-01-04  23.573898  1277.300049
2012-01-05  23.814798  1281.060059
2012-01-06  24.184755  1277.810059
2012-01-09  23.866419  1280.699951
2012-01-10  23.952452  1292.079956
2012-01-11  23.849216  1292.479980
2012-01-12  24.090115  1295.500000
2012-01-13  24.305206  1289.089966
2012-01-17  24.313807  1293.670044
2012-01-18  24.287996  1308.040039
2012-01-19  24.193356  1314.500000
2012-01-20  25.561331  1315.380005
2012-01-23  25.578541  1316.000000
2012-01-24  25.242998  1314.650024
2012-01-25  25.432276  1326.060059
2012-01-26  25.380651  1318.430054
2012-01-27  25.148355  1316.329956
2012-01-30  25.475296  1313.010010
2012-01-31  25.406467  1312.410034
2012-02-01  25.716196  1324.089966
2012-02-02  25.767817  1325.540039
2012-02-03  26.017323  1344.900024
2012-02-06  25.982904  1344.329956
2012-02-07  26.111963  1347.050049
2012-02-08  26.378674  1349.959961
2012-02-09  26.473316  1351.949951
2012-02-10  26.241018  1342.640015
2012-02-13  26.309845  1351.770020
2012-02-14  26.197262  1350.500000
...               ...          ...
2016-11-17  59.931065  2187.120117
2016-11-18  59.644455  2181.899902
2016-11-21  60.148491  2198.179932
2016-11-22  60.405449  2202.939941
2016-11-23  59.693871  2204.719971
2016-11-25  59.822346  2213.350098
2016-11-28  59.901413  2201.719971
2016-11-29  60.375805  2204.659912
2016-11-30  59.555504  2198.810059
2016-12-01  58.507896  2191.080078
2016-12-02  58.557312  2191.949951
2016-12-05  59.515976  2204.709961
2016-12-06  59.249134  2212.229980
2016-12-07  60.652531  2241.350098
2016-12-08  60.296734  2246.189941
2016-12-09  61.245518  2259.530029
2016-12-12  61.443176  2256.959961
2016-12-13  62.243706  2271.719971
2016-12-14  61.947212  2253.280029
2016-12-15  61.848385  2262.030029
2016-12-16  61.571655  2258.070068
2016-12-19  62.876225  2262.530029
2016-12-20  62.797161  2270.760010
2016-12-21  62.797161  2265.179932
2016-12-22  62.807041  2260.959961
2016-12-23  62.500671  2263.790039
2016-12-27  62.540195  2268.879883
2016-12-28  62.253590  2249.919922
2016-12-29  62.164646  2249.260010
2016-12-30  61.413525  2238.830078

[1258 rows x 2 columns]

Let S&P 500 act as the market.

*****

Calculate the beta of Microsoft.

In [2]:
sec_returns = np.log( data / data.shift(1) )

In [3]:
cov = sec_returns.cov() * 250
cov

           MSFT     ^GSPC
MSFT   0.053781  0.018208
^GSPC  0.018208  0.016361

In [4]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.01820843191039893

In [5]:
market_var = sec_returns['^GSPC'].var() * 250
market_var

0.016360592699269063

** Beta: **
### $$ 
\beta_{pg} = \frac{\sigma_{pg,m}}{\sigma_{m}^2}
$$

In [6]:
MSFT_beta = cov_with_market / market_var
MSFT_beta

1.112944515219942