In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [3]:
ser

0    0.480497
1    0.718317
2    0.546483
3    0.001305
4    0.397041
Name: Column 01, dtype: float64

In [4]:
ser[2]

0.54648285610942116

In [5]:
from pandas_datareader import data as wb

In [10]:
PG = wb.DataReader('PG', data_source='morningstar', start='1995-1-1', end='2017-3-21')

In [11]:
PG

             Open   High    Low  Close    Volume
Date
2001-04-26  29.05  29.15  28.89  29.15   7138400
2001-04-27  29.20  29.92  29.05  29.92   5609000
2001-04-30  30.02  30.14  29.62  30.02   8328800
2001-05-01  31.40  32.42  31.12  32.09  17367000
2001-05-02  32.42  32.42  31.75  32.08  12803000
2001-05-03  32.38  32.38  31.84  32.14   7923800
2001-05-04  31.88  32.26  31.62  32.14   5643200
2001-05-07  32.20  32.48  31.95  32.32   3547800
2001-05-08  32.25  32.38  31.77  32.24   4496800
2001-05-09  32.25  33.12  31.98  33.10   8091800
2001-05-10  33.22  33.25  32.55  32.92   4691800
2001-05-11  32.92  33.14  32.58  32.75   3251400
2001-05-14  33.00  33.08  32.65  33.02   2792800
2001-05-15  33.03  33.12  32.71  32.99   4654200
2001-05-16  33.15  34.14  33.08  34.14   6934200
2001-05-17  33.88  34.15  33.35  33.58   6360800
2001-05-18  33.58  33.74  33.21  33.74   4777000
2001-05-21  32.50  33.08  32.20  32.62  11721000
2001-05-22  32.65  32.80  31.98  32.00   8065800
2001-05-23  32.30  32.46  31.82  32.10   6542400
2001-05-24  32.00  32.30  31.78  32.12   4855600
2001-05-25  32.12  32.15  31.63  31.75   4344600
2001-05-29  31.90  32.32  31.78  32.32   5717200
2001-05-30  32.30  32.48  31.84  32.18   4653400
2001-05-31  32.00  32.25  31.90  32.12   4168000
2001-06-01  32.12  32.12  31.62  31.76   3726800
2001-06-04  31.75  31.87  31.52  31.80   4917600
2001-06-05  31.80  32.06  31.62  32.04   5336600
2001-06-06  32.62  33.15  32.26  32.34   7899800
2001-06-07  32.38  32.80  32.35  32.46   5016400
...           ...    ...    ...    ...       ...
2017-02-07  87.64  88.28  87.48  88.01   6646055
2017-02-08  88.07  88.34  87.81  88.33   6815753
2017-02-09  88.25  88.78  88.03  88.67   9914070
2017-02-10  88.56  88.73  87.96  87.97  11057552
2017-02-13  88.04  88.36  87.64  88.31   6905130
2017-02-14  88.00  88.22  87.23  87.86  20123406
2017-02-15  89.81  91.15  89.81  91.12  25847697
2017-02-16  90.92  91.12  90.54  90.79  12408473
2017-02-17  90.61  91.36  90.45  91.09  12152428
2017-02-21  90.58  91.80  90.58  91.67   9018703
2017-02-22  91.45  91.80  91.25  91.44   6749919
2017-02-23  91.61  91.80  90.91  91.13   7611638
2017-02-24  90.97  91.34  90.67  91.05   6643365
2017-02-27  90.53  90.91  90.06  90.89  11840268
2017-02-28  90.90  91.79  90.65  91.07  10535619
2017-03-01  91.05  91.89  90.71  91.66   8792150
2017-03-02  91.40  91.58  90.88  90.91   7031221
2017-03-03  90.80  90.82  89.89  90.50   8341071
2017-03-06  89.89  90.51  89.59  90.37   9533795
2017-03-07  90.14  90.49  90.06  90.29   5362951
2017-03-08  90.02  90.35  89.76  90.14   5513405
2017-03-09  90.14  90.49  90.10  90.34   5587379
2017-03-10  90.80  91.16  90.65  91.07   6797792
2017-03-13  91.06  91.49  90.85  91.31   7397472
2017-03-14  91.26  91.59  90.82  91.00   6686388
2017-03-15  91.00  91.78  90.73  91.40   7855256
2017-03-16  91.44  91.72  91.10  91.44   6601208
2017-03-17  91.45  92.00  90.92  91.00  37010081
2017-03-20  90.96  91.41  90.94  91.22   7772903
2017-03-21  91.30  91.75  91.03  91.19   8210951

[4000 rows x 5 columns]