In [13]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [18]:
PG = pd.read_csv('D:/Python/PG_1995-03_23_2017.csv', index_col = 'Date')

or:

In [15]:
PG = pd.read_csv('D:/Python/PG_1995-03_23_2017.csv')
PG = PG.set_index('Date')

In [19]:
PG.head()

                Open      High       Low   Close  Adj Close   Volume
Date
1995-01-03  15.46875  15.62500  15.43750  62.375   15.59375  3318400
1995-01-04  15.53125  15.65625  15.31250  61.875   15.46875  2218800
1995-01-05  15.37500  15.43750  15.21875  61.000   15.25000  2319600
1995-01-06  15.15625  15.40625  15.15625  61.125   15.28125  3438000
1995-01-09  15.34375  15.40625  15.18750  60.875   15.21875  1795200

In [20]:
PG.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2017-03-17  91.449997  92.000000  90.919998  91.000000  91.000000  37010100
2017-03-20  90.959999  91.410004  90.940002  91.220001  91.220001   7772900
2017-03-21  91.300003  91.750000  91.029999  91.190002  91.190002   8211000
2017-03-22  91.309998  91.800003  90.750000  90.989998  90.989998   7798000
2017-03-23  90.910004  91.459999  90.599998  90.769997  90.769997   6831400

## Simple Rate of Return

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [21]:
PG['simple_return'] = (PG['Close'] / PG['Close'].shift(1)) - 1
print PG['simple_return']

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014141
1995-01-06    0.002049
1995-01-09   -0.004090
1995-01-10    0.012320
1995-01-11   -0.002028
1995-01-12    0.010163
1995-01-13    0.006036
1995-01-16    0.008000
1995-01-17    0.003968
1995-01-18   -0.021739
1995-01-19   -0.004040
1995-01-20   -0.004057
1995-01-23    0.010183
1995-01-24   -0.002016
1995-01-25    0.014141
1995-01-26    0.003984
1995-01-27    0.027778
1995-01-30    0.015444
1995-01-31   -0.009506
1995-02-01   -0.019194
1995-02-02    0.007828
1995-02-03    0.009709
1995-02-06    0.023077
1995-02-07   -0.001880
1995-02-08   -0.011299
1995-02-09   -0.001905
1995-02-10   -0.001908
1995-02-13    0.007648
                ...
2017-02-09    0.003849
2017-02-10   -0.007894
2017-02-13    0.003865
2017-02-14   -0.005096
2017-02-15    0.037105
2017-02-16   -0.003622
2017-02-17    0.003304
2017-02-21    0.006367
2017-02-22   -0.002509
2017-02-23   -0.003390
2017-02-24   -0.000878
2017-02-27   -0.001757
2017-02-28    0.001980
2017-03-01    0.006479
2017-03-02   -0.008182
2017-03-03   -0.004510
2017-03-06   -0.001436
2017-03-07   -0.000885
2017-03-08   -0.001661
2017-03-09    0.002219
2017-03-10    0.008081
2017-03-13    0.002635
2017-03-14   -0.003395
2017-03-15    0.004396
2017-03-16    0.000438
2017-03-17   -0.004812
2017-03-20    0.002418
2017-03-21   -0.000329
2017-03-22   -0.002193
2017-03-23   -0.002418
Name: simple_return, Length: 5596, dtype: float64